@import "tailwindcss";

:root {
  --primary: #24527c;

  --foreground: #ffffff;
  --secondary: #4c8ac8;
  --tertiary: #22202d;
  /* --tertiary: #11111a;*/
  /* --quaternary: #e6e6e6;
  --quaternary: #212122;*/
  --quaternary: #11111a;
  --secondary-foreground: #1e1a20;
  box-sizing: border-box;
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-quaternary: var(--quaternary);
  --color-secondary-foreground: var(--secondary-foreground);
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background: var(--primary);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
